.tiltingHead {
  animation: headTilt 3s infinite;
}

.tiltingRightEar {
  animation: rightEarTilt 3s infinite;
}

.tiltingLeftEar {
  animation: leftEarTilt 3s infinite;
}

.tiltingTopRightHorn {
  animation: topRightHornTilt 3s infinite;
}

.tiltingTopLeftHorn {
  animation: topLeftHornTilt 3s infinite;
}

/* class for right blade horn animation */
.tiltingRightBladeHorn {
  animation: rightBladeHornTilt 3s infinite;
}

/* class for left blade horn animation */
.tiltingLeftBladeHorn {
  animation: leftBladeHornTilt 3s infinite;
}

/* class for right centered horn animation */
.tiltingRightCenteredHorn {
  animation: rightCenteredHornTilt 3s infinite;
}

/* class for left centered horn animation */
.tiltingLeftCenteredHorn {
  animation: leftCenteredHornTilt 3s infinite;
}

/* class for rounded horn animation */
.tiltingRoundedHorns {
  animation: roundedHornTilt 3s infinite;
}

/* animation for rounded blade horn */
@keyframes roundedHornTilt {
  0% {
    transform:rotate(44deg);
  }

  30% {
    transform: rotate(47deg);
  }

  60% {
    transform: rotate(42deg);
  }

  100% {
    transform: rotate(44deg);
  }
}

/* animation for right centered blade horn */
@keyframes rightCenteredHornTilt {
  0% {
    transform:rotate(20deg);
  }

  30% {
    transform: rotate(22deg);
  }

  60% {
    transform: rotate(19deg);
  }

  100% {
    transform: rotate(20deg);
  }
}

/* animation for left centered horn */
@keyframes leftCenteredHornTilt {
  0% {
    transform: rotate(65deg);
  }

  30% {
    transform: rotate(68deg);
  }

  60% {
    transform: rotate(63deg);
  }

  100% {
    transform: rotate(65deg);
  }
}

/* animation for right blade horn */
@keyframes rightBladeHornTilt {
  0% {
    transform: rotate(30deg);
  }

  30% {
    transform: rotate(36deg);
  }

  60% {
    transform: rotate(26deg);
  }

  100% {
    transform: rotate(30deg);
  }
}

/* animation for left blade horn */
@keyframes leftBladeHornTilt {
  0% {
    transform: scale(1,-1) rotate(30deg);
  }

  30% {
    transform: scale(1,-1) rotate(24deg);
  }

  60% {
    transform: scale(1,-1) rotate(34deg);
  }

  100% {
    transform: scale(1,-1) rotate(30deg);
  }
}


@keyframes topRightHornTilt {
  0% {
    transform: rotate(47deg);
  }

  30% {
    transform: rotate(53deg);
  }

  60% {
    transform: rotate(43deg);
  }

  100% {
    transform: rotate(47deg);
  }
}

@keyframes topLeftHornTilt {
  0% {
    transform: rotate(38deg);
  }

  30% {
    transform: rotate(44deg);
  }

  60% {
    transform: rotate(34deg);
  }

  100% {
    transform: rotate(38deg);
  }
}

@keyframes rightEarTilt {
  0% {
    transform: scale(1,-1) rotate(121deg);
  }

  30% {
    transform: scale(1,-1) rotate(124deg);
  }

  60% {
    transform: scale(1,-1) rotate(119deg);
  }

  100% {
    transform: scale(1,-1) rotate(121deg);
  }
}

@keyframes leftEarTilt {
  0% {
    transform: rotate(110deg);
  }

  30% {
    transform: rotate(106deg);
  }

  60% {
    transform: rotate(113deg);
  }

  100% {
    transform: rotate(110deg);
  }
}

@keyframes headTilt {
  0% {
    transform: rotate(0deg);
  }

  30% {
    transform: rotate(3deg);
  }

  60% {
    transform: rotate(-2deg);
  }

  100% {
    transform: rotate(0deg);
  }
}
