body {
  background: #139393;
}

#dragonModal {
  background: #139393;
}

.breedBtn {
  background-color: #018f01;
  margin-top: 105px;
  margin-bottom: -160px;
  margin-left: 10px;
  font-weight: bold;
  font-size: 19px;
  border-radius: 11px;
  width: 135px;
  height: 48px;
}

#dadDragonBox, #momDragonBox {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  padding-top: 23px;
  margin-top: 160px;
  height: 488px;
  box-shadow: 0 6px 20px 0 rgb(0 0 0 / 15%);
}

.dadDragonBtn, .momDragonBtn {
  margin-top: -64px;
  margin-left: 26px;
  height: 44px;
  width: 158px;
  font-size: 20px;
  font-weight: bold;
  color: black;
  border-radius: 11px;
}

#dragonBirth {
  box-shadow: 0 6px 20px 0 rgb(0 0 0 / 5%);
  background-color: #1fe798;
  font-family: Arial;
  border-radius: 10px;
  margin-bottom: -102px;
  margin-top: 6px;
  margin-left: 18px;
  padding-bottom: 0px;
  line-height: 33px;
  width: 97%;
  display: none;
}

.myNewDragon {
  color: black;
}

#myDragonBox {
  padding-top: 0px;
  margin-top: 28px;
  height: 398px;
}

footer {
  margin-top: 200px;
}
