.modal-body {
  margin-left: 3px;
  font-size: 20px;
  padding: 24px;
}

#myDragonBox {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  padding-top: 7px;
  margin-top: 54px;
  height: 488px;
  box-shadow: 0 6px 20px 0 rgb(0 0 0 / 33%);
}

#myDragonBox {
  margin-top: 7px;
}

.checkMyDragon {
  color: #007400;
}

.sellRemovePage {
  font-weight: bold;
  font-size: 18px;
  margin-top: 39px;
  border-radius: 7px;
  width: 341px;
  height: 51px;
  line-height: 37px;
  background-color: #186d7a;
  border-color: #186d7a;
}

.buyBtn {
  font-weight: bold;
  font-size: 18px;
  margin-top: 47px;
  border-radius: 6px;
  height: 43px;
  width: 142px;
  background-color: #32c554;
  border-color: #32c554;
}

#offerDragon {
  position: absolute;
  margin-top: 93px;
}

#dragonDna {
  margin-top: -74px;
  margin-left: 9px;
}

.offerInfo {
  font-weight: bold;
  font-size: 18px;
  margin-top: 7px;
  border-radius: 7px;
  background-color: #009cb5;
}
