body, #dragonModal, #babyModal {
  background: #139393;
}

.babyModalContent {
  border-radius: 17px;
}

#babyModalBody {
  padding-top: 0px;
  height: 344px;
  padding-left: 154px;
}

.breedBtn {
  background-color: #018f01;
  margin-top: 105px;
  margin-bottom: -160px;
  font-weight: bold;
  font-size: 19px;
  border-radius: 11px;
  width: 135px;
  height: 48px;
}

.dragonResetBtn {
  font-weight: bold;
  margin-top: 107px;
  margin-bottom: -155px;
  font-size: 19px;
  border-radius: 10px;
  width: 249px;
  height: 46px;
  line-height: 34px;
  background-color: #ffda00;
}

#dadDragonBox, #momDragonBox {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  padding-top: 23px;
  margin-top: 160px;
  height: 488px;
  box-shadow: 0 6px 20px 0 rgb(0 0 0 / 15%);
}

.dadDragonBtn, .momDragonBtn {
  margin-top: -64px;
  margin-left: 26px;
  height: 49px;
  width: 232px;
  font-size: 20px;
  font-weight: bold;
  color: black;
  border-radius: 11px;
}

#dragonBirth {
  box-shadow: 0 6px 20px 0 rgb(0 0 0 / 5%);
  background-color: #1fe798;
  font-family: Arial;
  border-radius: 10px;
  margin-bottom: -102px;
  margin-top: 6px;
  margin-left: 18px;
  padding-bottom: 0px;
  line-height: 33px;
  width: 97%;
  display: none;
}

.babyDragonBtn {
  color: black;
  height: 35px;
  line-height: 0px;
  border-radius: 10px;
  font-weight: bold;
}

#myDragonBox {
  margin-top: 21px;
  margin-bottom: 70px;
  height: 418px;
}

footer {
  margin-top: 214px;
}
