.modal-body {
  margin-left: 3px;
  font-size: 20px;
  padding: 24px;
}

.sellRemovePage {
  font-weight: bold;
  font-size: 18px;
  margin-top: 39px;
  border-radius: 7px;
  width: 341px;
  height: 51px;
  line-height: 37px;
  background-color: #186d7a;
  border-color: #186d7a;
}

.buyBtn {
  font-weight: bold;
  font-size: 18px;
  margin-top: 47px;
  margin-bottom: -47px;
  border-radius: 6px;
  height: 43px;
  width: 142px;
  background-color: #32c554;
  border-color: #32c554;
}

.offerInfo {
  font-weight: bold;
  font-size: 18px;
  margin-top: 7px;
  border-radius: 7px;
  height: 42px;
  width: 118px;
  background-color: #009cb5;
}

.approval {
  font-weight: bold;
  font-size: 17px;
  margin-top: 37px;
  margin-left: 1px;
  margin-bottom: -12px;
  border-radius: 6px;
  width: 248px;
  height: 44px;
  background-color: #226d79;
  border-color: #226d79;
}

.myOffers {
  font-weight: bold;
  font-size: 18px;
  margin-top: 37px;
  margin-bottom: -12px;
  border-radius: 6px;
  width: 273px;
  height: 42px;
  background-color: #f5c73e;
}

.myOffersBody {
  font-size: 16px;
  padding: 15px;
  font-weight: bold;
}

#removeDragonBox {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  padding-top: 7px;
  margin-top: 8px;
  height: 420px;
  box-shadow: 0 6px 20px 0 rgb(0 0 0 / 33%);
}

#offerPrice {
  margin-top: -29px;
  margin-bottom: 12px;
  margin-left: 59px;
}

.removeOffer {
  border-radius: 7px;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  margin-top: 15px;
  height: 39px;
  width: 145px;
  background-color: #f7e750;
  border-color: #feeb37;
}

#sellDragon {
  margin-top: 8px;
}

#sellBtn {
  background-color: #32c554;
  border-color: #32c554;
  border-radius: 7px 0 0 7px;
}

.dragonPrice {
  height: 41px;
  margin-right: -1px;
}

.ethBox {
  background-color: #b5b5b5;
  border-radius: 0 7px 7px 0;
  width: 59px;
  height: 41px;
  display: flex;
  justify-content: center;
  line-height: 42px;
  font-weight: bold;
}

#activeOffer {
  background-color: #ff8d8d;
  font-size: 19px;
  height: 41px;
  width: 549px;
  border-radius: 7px;
  line-height: 41px;
  padding-left: 16px;
}
