@import url('https://fonts.googleapis.com/css2?family=Brawler&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manuale&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

@font-face {
  font-family: "Poppins";
  src: url("Poppins-Light.ttf");
}

body {
  background: #2c6f6f;
  font-family: Poppins;
}

#headerContent {
  color: white;
  padding-left: 28%;
}

#headerParagraph {
  padding-left: 6%;
}

#colorTab {
  color: black;
  font-weight: bold;
  border-radius: 10px 10px 0px 0px;
  height: 61%;
  width: 142px;
  margin-top: 41px;
}

#attributeTab {
  color: black;
  font-weight: bold;
  border-radius: 10px 10px 0px 0px;
  height: 61%;
  margin-top: 41px;
}

.nav-pills .nav-link:is(.active) {
    background-color: #e0e0e0;
}

.nav-pills .nav-link:not(.active) {
    background-color: #d0d0d0;
}

#createDragonBtn {
  border-radius: 10px;
  margin-top: -352px;
  margin-left: -55px;
  padding: 6px;
  font-family: 'Manuale';
  font-size: 116%;
}

#randomDragonBtn {
  border-radius: 10px;
  margin-top: -87px;
  margin-left: 167px;
  padding: 11px;
  width: 46%;
  height: 11%;
  font-size: 128%;
  font-weight: bold;
}

#defaultDragonBtn {
  border-radius: 10px;
  margin-top: 429px;
  margin-left: -51px;
  padding: 9px;
  height: 7.5%;
  font-family: 'Brawler';
  font-size: 107%;
}

#dragonBox {
  background-color: #ffffff;
  border-radius: 10px;
  padding-top: 306px;
  padding-left: 65px;
  padding-bottom: 12px;
  margin-top: 56px;
}

#colorContent, #attributeContent {
  background-color: #e0e0e0;
  border-radius: 10px;
  height: 494px;
  padding: 59px;
  padding-top: 66px;
}

#dragonDna {
  margin-top: -295px;
  margin-left: -51px;
}

#footer {
  height: 79px;
  background: #f8f8f8;
  margin-top: 217px;
  font-family: 'EB Garamond';
  font-size: 155%;
}
